@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Abel:400"); /* @FONTWARNING[{"type": "restricted", "family": "Pretendard-Regular", "weight": "400", "style": "normal", "allowsCrossOrigin": true}] */
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/681c02510381d3a49b99eb95/fonts/pretendard-regular.otf")
    format("opentype");
}
/* @FONTWARNING[{"type": "restricted", "family": "Pretendard-Bold", "weight": "400", "style": "normal", "allowsCrossOrigin": true}] */

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/5f06a5517739f30d3a8fc967/fonts/pretendard-bold.otf")
    format("opentype");
}
