:root {
  --dodger-blue: rgba(47, 144, 255, 1);
  --seashell-peach: rgba(255, 244, 235, 1);
  --arial-black-font-family: "Arial", Helvetica;
  --arial-black-font-weight: 900;
  --arial-black-font-size: 18px;
  --arial-black-letter-spacing: 0px;
  --arial-black-line-height: normal;
  --arial-black-font-style: normal;
  --arial-bold-font-family: "Arial", Helvetica;
  --arial-bold-font-weight: 700;
  --arial-bold-font-size: 28px;
  --arial-bold-letter-spacing: 0px;
  --arial-bold-line-height: normal;
  --arial-bold-font-style: normal;
  --arial-regular-font-family: "Arial", Helvetica;
  --arial-regular-font-weight: 400;
  --arial-regular-font-size: 34px;
  --arial-regular-letter-spacing: 0px;
  --arial-regular-line-height: 34px;
  --arial-regular-font-style: normal;
  --noto-sans-KR-black-font-family: "Noto Sans KR", Helvetica;
  --noto-sans-KR-black-font-weight: 900;
  --noto-sans-KR-black-font-size: 15px;
  --noto-sans-KR-black-letter-spacing: -0.4000000059604645px;
  --noto-sans-KR-black-line-height: 20.25px;
  --noto-sans-KR-black-font-style: normal;
  --noto-sans-KR-bold-font-family: "Noto Sans KR", Helvetica;
  --noto-sans-KR-bold-font-weight: 700;
  --noto-sans-KR-bold-font-size: 18px;
  --noto-sans-KR-bold-letter-spacing: -0.5px;
  --noto-sans-KR-bold-line-height: 24.299999237060547px;
  --noto-sans-KR-bold-font-style: normal;
  --noto-sans-KR-medium-font-family: "Noto Sans KR", Helvetica;
  --noto-sans-KR-medium-font-weight: 500;
  --noto-sans-KR-medium-font-size: 15px;
  --noto-sans-KR-medium-letter-spacing: -0.20000000298023224px;
  --noto-sans-KR-medium-line-height: 22.5px;
  --noto-sans-KR-medium-font-style: normal;
  --noto-sans-KR-regular-font-family: "Noto Sans KR", Helvetica;
  --noto-sans-KR-regular-font-weight: 400;
  --noto-sans-KR-regular-font-size: 32px;
  --noto-sans-KR-regular-letter-spacing: 0px;
  --noto-sans-KR-regular-line-height: 32px;
  --noto-sans-KR-regular-font-style: normal;
  --pretendard-regular-font-family: "Pretendard", Helvetica;
  --pretendard-regular-font-weight: 400;
  --pretendard-regular-font-size: 13px;
  --pretendard-regular-letter-spacing: 0px;
  --pretendard-regular-line-height: 32px;
  --pretendard-regular-font-style: normal;
  --pretendard-bold-font-family: "Pretendard", Helvetica;
  --pretendard-bold-font-weight: 700;
  --pretendard-bold-font-size: 10px;
  --pretendard-bold-letter-spacing: 0px;
  --pretendard-bold-line-height: normal;
  --pretendard-bold-font-style: normal;
  --pretendard-extrabold-font-family: "Pretendard", Helvetica;
  --pretendard-extrabold-font-weight: 800;
  --pretendard-extrabold-font-size: 15px;
  --pretendard-extrabold-letter-spacing: 0px;
  --pretendard-extrabold-line-height: 21.75px;
  --pretendard-extrabold-font-style: normal;
  --pretendard-black-font-family: "Pretendard", Helvetica;
  --pretendard-black-font-weight: 900;
  --pretendard-black-font-size: 26px;
  --pretendard-black-letter-spacing: -1px;
  --pretendard-black-line-height: 33.279998779296875px;
  --pretendard-black-font-style: normal;
  --pretendard-semibold-font-family: "Pretendard", Helvetica;
  --pretendard-semibold-font-weight: 600;
  --pretendard-semibold-font-size: 18px;
  --pretendard-semibold-letter-spacing: 0px;
  --pretendard-semibold-line-height: normal;
  --pretendard-semibold-font-style: normal;
  --pretendard-medium-font-family: "Pretendard", Helvetica;
  --pretendard-medium-font-weight: 500;
  --pretendard-medium-font-size: 18px;
  --pretendard-medium-letter-spacing: 0px;
  --pretendard-medium-line-height: 26.100000381469727px;
  --pretendard-medium-font-style: normal;
}
